
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentParital")

<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")


		@await Component.InvokeAsync("_LayoutSideBarComponentPartial")

		@await Component.InvokeAsync("_LayoutScriptComponentPartial")
		
		@RenderBody() <!--Bu sayfaya bağlı olarak gelecek olan sayfalar sayfamızın burasında olacak-->

	</div>
	</div>
</body>

@await Component.InvokeAsync("_LayoutScriptComponentPartial")

</html>